In [2]:
import numpy as np
import pandas as pd

Intro To DataFrames

In [3]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]], columns=["A", "B", "C"], index=["r1", "r2", "r3", "r4"])

df.head(2)

    A  B  C
r1  1  2  3
r2  4  5  6

In [4]:
df.tail(3)

     A   B   C
r2   4   5   6
r3   7   8   9
r4  10  11  12

In [5]:
df.columns

Index(['A', 'B', 'C'], dtype='object')

In [6]:
df.index.tolist()

['r1', 'r2', 'r3', 'r4']

In [7]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, r1 to r4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       4 non-null      int64
 1   B       4 non-null      int64
 2   C       4 non-null      int64
dtypes: int64(3)
memory usage: 128.0+ bytes

               A          B          C
count   4.000000   4.000000   4.000000
mean    5.500000   6.500000   7.500000
std     3.872983   3.872983   3.872983
min     1.000000   2.000000   3.000000
25%     3.250000   4.250000   5.250000
50%     5.500000   6.500000   7.500000
75%     7.750000   8.750000   9.750000
max    10.000000  11.000000  12.000000

In [8]:
df.shape #jumlah (baris, kolom)

(4, 3)

In [9]:
df.size #jumlah elemen yang ada dalam dataframe

12

In [10]:
df.nunique() #jumlah nilai unik perkolom

A    4
B    4
C    4
dtype: int64

In [11]:
df['A'].unique() #Menampilkan nilai unik pada kolom A -> output berupa array NumPy

array([ 1,  4,  7, 10])

In [12]:
df

     A   B   C
r1   1   2   3
r2   4   5   6
r3   7   8   9
r4  10  11  12

Loading in DataFrame from Files

In [13]:
coffee = pd.read_csv('./data/coffee.csv')
bios = pd.read_csv('./data/bios.csv')
result = pd.read_parquet('./data/results.parquet')
olympics_data = pd.read_excel('./data/olympics-data.xlsx', sheet_name="results")